body{background:#e7e7e7 url(../img/bg-light.png) 50% 0 no-repeat;font:12px/20px Arial, Helvetica, sans-serif;color:#7c7876;position:relative;min-width:320px;}
html,body{height:100%;}
p{padding-bottom:20px}
a{color:#04c7d0;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration: underline}
h1,h2{line-height:1.2em;color:#382c27; font-weight:normal; margin: 0;}
h1{font-size:25px;}
h2{font-size:18px;}
.bg{ width:100%; padding:0; background:url(../img/bg-content.png) 0 0 repeat;} /* FONDO ZONA GRISACEA */
.wrapper{width:100%;overflow:hidden;position:relative; padding-bottom: 25px;}

#section{ position:relative; z-index:1;}
.box-img{ display:inline-block; padding:0; position:relative; overflow:hidden;}
.box-img img{ max-width:100%; height:auto;}
.box{ position:relative; overflow:hidden; padding:33px 0 6px;}
.box img{ float:left; margin:5px 10px 0 0;}
.box p{ overflow:hidden; padding-bottom:0;}

#footer{ padding:60px 0 40px; max-width:950px; margin:0 auto; text-align:center;}
#footer a{color:#7c7876; margin:1px;}
.link{ display:inline-block; margin:3px 8px 0 0;}
.top{ padding-top:26px;}
.top2{ padding-top:49px;}
.bot{ padding-bottom:23px;}
.bot2{ padding-bottom:27px;} 

/* DEFAULT DESKTOP SCREEN (FROM 960PX) ===================================== */

.container{ position: relative; width: 960px; margin: 0 auto; padding: 0; }
.grid_bot, .grid_top{ float: left; display: inline; margin-left:5px; margin-right:5px; }
.container .alpha { margin-left: 0; }
.container .omega { margin-right: 0; }
.container .grid_bot { width: 270px; }
.container .grid_top { width: 430px; }
.container .suffix {padding-right:40px;}

/* 768PX SCREEN (TABLET PORTRAIT) ========================================== */

@media only screen and (min-width: 768px) and (max-width: 995px) {

    .container{ width: 768px; }
	.grid_bot, .grid_top {margin-left: 5px; margin-right: 5px;}
    .container .alpha { margin-left: 0;}
    .container .omega { margin-right: 0;}
    .container .grid_bot { width: 214px; }
    .container .grid_top { width: 374px; margin-left: 150px; } 
	.container .suffix {padding-right:32px;}
	.box-img{ display:block;}
	
}

/*  PORTRAIT MOBILE  ======================================================= */

@media only screen and (max-width: 767px) {

    .container { width: 300px; }
	.grid_bot, .grid_top { margin: 0; }
    .container .grid_bot, .container .grid_top { width: 300px;}
	.container .suffix {padding-right:0;}
	.box-img{ display:block;}
	.padbot3{ padding-bottom:0;}
	.padRT{ padding-bottom:30px;}
}
    
/* MOVIL LANDSCAPE ========================================================= */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .container { width: 420px; }
	.grid_bot, .grid_top { margin: 0; }
    .container .grid_bot, .container .grid_top { width: 420px; }
	.container .suffix {padding-right:0;}
	.box-img{ display:inline-block;}
}

/* CLEANING STYLES========================================================== */

.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before, .clearfix:after, .row:before, .row:after { content: '\0020';display: block;overflow: hidden;visibility: hidden;width: 0;height: 0; }
.row:after,.clearfix:after { clear: both; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }